html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
.postPrs{

    display: flex;
    flex-wrap: wrap;
    flex: 1 1 700px;
    align-items: center;    
}


