.chessPg {
  width: 100%;
}

.chessPgUp {
  height: 50%;
  width: 100%;
}

.chessPgDwn {
  height: 50%;
  top: 1%;
}

.ui.tabular.menu .item {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

.ny {
  color: red;
}
.k {
  color: green;
  font-size: 20px;
  font-weight: 600;
}

.ui.attached.tabular.menu {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
  background-color: white;
}

.chessPosts {
  width: 100%;
}

.topPlayer {
  width: 100%;
  height: 100%;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
}
.sidePanel {
  width: 10%;
}
.playerProfile {
  width: 80%;
  border: 1px solid #d4d4d5;
  border-radius: 5px;
}

.playerImg {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.playerPic {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50px;
}

.side {
  width: 30%;
}

.centerImg {
  width: 40%;
  height: 400px;
  border-radius: 30px;
  padding: 2px;
}

.playerInfo {
  font-family: "Josefin Sans", sans-serif;
}

.playerProfileTitle {
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
}
.playerProfileTitle::first-letter {
  font-weight: 600;
  color: #00b4db;
  font-size: 30px;
}
.pPT {
  border-bottom: 1px solid #00b4db;
}

.stats {
  padding: 20px;
}

.stats > ul > li {
  list-style: none;
  margin-bottom: 4px;
}

.statsSpan {
  font-weight: 900;
  font-size: 15px;
  margin-right: 10px;
  color: white;
  background-color: #00b4db;
  padding: 3px;
  border-radius: 5px;
}
.statsInfoSpan {
  font-size: 17px;
  font-weight: 600;
}

.playerStory {
  padding: 10px;
  text-align: justify;
}


.feature {
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  .side {
    display: none;
  }
  .sidePanel {
    display: none;
  }
  .playerProfile {
    width: 100%;
  }
  .centerImg {
    width: 100%;
  }
}
