.card-icons{
    color: orangered;
}

.cardIcn{
    width: 100%;
    text-align: center;
}

.cardDesc{
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.cardTitle{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10px;
}


.flippy{
    height: 300px;
    margin: 15px;
    flex: 1 0 30%;
    
}

.frontside{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}






@media only screen and (max-width: 1450px) {
    .flippy{
        flex: 1 0 45%;
    }
  }


@media only screen and (max-width: 700px) {
    .flippy {
        width: 100%;
        margin: 0px 15px 40px 15px;
        position: center;
    }

  }