.post {
  width: 30vw;
      margin: 2rem;
    cursor: pointer;
    border-bottom: 3px solid grey;
    height: 700px;
    padding: 5px;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}


.postImg {
  width: 100%;
  position: center;
  height: 300px;
  object-fit: cover;

}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postAuthor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  font-style: italic;
}
.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  text-align:center;
  text-justify: newspaper;
  justify-items: center;
}

.posttitle{

  height: 5vh;
}


.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1026px) {
  .post {
      width: 100%;
      margin: 0px 5px 40px 180px;
  }
  .postTitle{
    margin-bottom: 20px;
  }
  .posttitle{
    height: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .post {
      width: 100%;
      margin: 0px 5px 40px 0px;
  }
  .postTitle{
    font-size: 4vw;
  }
  .posttitle{
    height: 5vw;
  }
}

@media only screen and (max-width: 1450px) {
  .post {
      width: 100%;
  }
  .postTitle{
    font-size: 3vh;
  }
  .posttitle{
    height: 5vh;
  }
}




