.sidebar {

  flex: 0 2 150px;
  border-left: 1px solid grey;
  height: auto;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 85%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: rgb(29, 23, 23);
  font-weight: 400px;
  line-height: 20px;
  text-align: left;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

/*.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}*/

.sidebarList >li {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  margin-bottom: 5px;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.right {
  grid-area: right;
}

.views{
  background-color: rgb(7, 104, 7);
  font-family: 'Courier New', Courier, monospace;
  
}

.same{
  border: 2px solid green;
  margin-top: 10px;
  margin: 10px;
}


@media only screen and (max-width: 1026px) {
  .sidebar {
      display: none;
  }
}