.left {
    flex: 0 2 200px;
    position: fixed;
     width: 180px;
     height: 400px;
     overflow-x: hidden;
     border-right: grey 1px solid;
     overflow-y: auto;


  }
  .left a{
      padding: 6px 8px 6px 10px;
      text-decoration: none;
      font-size: 19px;
      color: #818181;
      display: block;
   
  }

  .left a:hover{
      color: #f1f1f1;
  }

@media screen and (max-height: 450px) {
  .left {padding-top: 100px;}
  .left a {font-size: 18px;}
}

@media only screen and (max-width: 1026px) {
  .left {
      display: none;
  }
}
